/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700|Roboto:400,700|Indie+Flower');

:root {
    --primary:#007bff;
    --secondary:#6c757d;
    --success:#28a745;
    --info:#17a2b8;
    --warning:#ffc107;
    --danger:#dc3545;
    --light:#f8f9fa;
    --dark:#343a40;

    --roze: #c41e80;
    --DutchBlue: #4a638d;
    --version03:rgba(74, 94, 133, 0.6);
    --version04:rgb(43, 223, 163);
    --version:rgb(56, 58, 83);
}

html,body {
    height: 100%;
}

body {
    margin: 5% 10% 5% 10%;
}

main {
    display: flex;
}

h1 {
    font-size: 5rem;
    font-family: 'Indie Flower', sans;
    color: var(--version);
}

h3 {
    font-variant: small-caps;
    color: var(--dark);
}

li,ul {
    background-color: white;
    padding: 2px 0px;
    margin: 0;
  }

ul {
    margin-top: 7px;
}

li {
    list-style: none;
    color: var(--dark);
}

a {
    font-size: larger;
    color: var(--DutchBlue);
}

a:hover {
    color: var(--light);
    background-color:var(--warning);
}